 <div id="sidebar" class="nav-collapse " tabindex="5000">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="mt">
        <a [routerLink]="'/file'">
          <i class="fa fa-dashboard"></i>
          <span>Files</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/photos'">
          <i class="fa fa-dashboard"></i>
          <span>Photos</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/events'">
          <i class="fa fa-dashboard"></i>
          <span>Events</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/links'">
          <i class="fa fa-dashboard"></i>
          <span>Links</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/sharing'">
          <i class="fa fa-dashboard"></i>
          <span>Sharing</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/start'">
          <i class="fa fa-dashboard"></i>
          <span>Get Started</span>
        </a>
      </li>
      <li class="sub-menu dcjq-parent-li">
        <a [routerLink]="'/tools'">
          <i class="fa fa-dashboard"></i>
          <span>Tools</span>
        </a>
      </li>
    </ul>
   <div class="total">
     Total Size: {{mySize}}
   </div>
  </div>
